@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  background:rgb(62, 65, 104);
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
}
.minha-imagem{
max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  background:rgb(119, 137, 135);
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  font-size: 65px;
}


h1{
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


*{margin: 0;
padding: 0;
box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background: rgb(119, 137, 135);
}

.logo {
  padding: 10px 0;
  font-size: 65px;
  color: rgb(122, 197, 218);
}

h1 {
  font-family: "Dancing Script", cursive;
}

main {
  padding: 20px;
}

h2 {
  text-align: center;
  color: beige;
}

p {
  padding: 2px;
  max-width: 600px;
  text-align: justify;
  text-indent: 1.2em;
}

h3{
  color: white;
  text-align: center ;
}

.exemplos-home {
  text-align: center;
    margin-top: 30px;
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 45px;
    border-radius: 30px;
    width: 60%;
  }